body {
    text-align: center;
}

header {
    background: lightblue;
    padding: 30px;
    margin-bottom: -45px;
}

main {
    padding: 50px;
}

footer {
    background: rgb(199, 198, 198);
    padding: 20px;
}

#gallows {
    height: 250px;
    width: 350px;
    background-image: url('./assets/gallows.jpg');
    background-size: 350px;
    border: 1px solid black;
    display: inline-block;
    margin: 30px;
}

#secret-word{
    display: block;
    margin: 5px;
    font-size: 30px;
}

#guess-form {
    margin: 25px;
}

.win {
    background: green;
    padding: 10px;
}

.lose {
    background: red;
    padding: 10px;
}

.hidden{
    visibility: hidden;
}

.body-part {
    width: 80px;
    display: block;
    margin: auto;
}

#refresh {
    margin-top: 60px;
}

button {
    font-size: 13px;
}